* {
    box-sizing: border-box;
}

:root {

   --primary-red: #E16071;
   --primary-bg: #e8eef9;   

    --primary-table-bg: #DCEFFC;
    --primary-white: #fff;

    --occupied-grad-pri: #a7a7a7;
    --occupied-grad-sec: #cdcdcd;

    --timetableWidth: 1561px;
    --roomNoWidth: 50px;
    --breakIntervalWidth: 13px;
    --eventWidth: 144px;
    --roomSlotWidth: 1515px;
    --eventNoBreakWidth: 156px;
    --fixedBreakWidth: 65px;
    --left-sidebar-width : 260px;
}


body {
    overflow-x: hidden;
}

.left-sidebar {
    width: var(--left-sidebar-width);
    height: 100vh;
    background: var(--primary-white);
    position: fixed;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
}

.left-400 {
    left: -400px !important;
}

.left-0 {
    left: 0 !important;
}


.left-sidebar-logo {
    height: 80.75px;
}

.offset-list {
    list-style: none;
    padding: 10px 0px;
    left: 9px;
    scroll-behavior: auto;
    height: calc(100vh - 80.75px)
}





.custom-accordian-button {
    box-shadow: none !important;
}

.custom-accordian-button>img {
    padding-right: 16px;
}

.select2-container {
    width: 100% !important;
}


::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #456688;
    border-radius: 2px;
}

/* SCROLLBAR ENDS  */


@media (max-width:1200px) {

    .left-sidebar {
        transform: translateX(-100%);


    }

    .left-sidebar-open {
        transform: translateX(0);
        z-index: 10000;
        transition: all 500ms ease-in-out;
    }
    

}


@media (max-width:650px) {

    .left-sidebar {
        width: 230px;
        height: 50vh;
    }

    .offset-list {
        overflow-y: scroll;
        background-color: var(--primary-white);
    }

    .nmims-logo {
        transform: scale(0.6);
    }

    .left-sidebar-logo {

        display: flex;
        justify-content: center;
        align-items: center;
    }

 
}


/* LEFT SIDE-BAR ENDS    */




/* MAIN */

.main {
    position: absolute;
    max-width: 100%;
    left: 260px;
    right: 0;
    transition: all 0.5s ease-in-out;

}

.main-maximize {
    position: absolute;
    max-width: 100%;
    left: 80px;
    right: 0;
    transition: all 0.5s ease-in-out;
}

/* TOPNAVBAR */

.nav-top {
    position: fixed !important;
    top: 0;
    width: 100%;
}

.btn:focus {
    box-shadow: none !important;
}

.top-navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 260px;
    padding: 1vh;
    background: var(--primary-white);
    z-index: 1000;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all 0.5s ease-in-out;
}

.top-navbar-maximize {

    position: fixed;
    top: 0;
    right: 0;
    left: 90px;
    padding: 2vh;
    background: var(--primary-white);
    z-index: 1;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all 0.5s ease-in-out;
}

.nmims-logo-smalldevices {
    display: none;
}

.hamburger-smalldevices {
    display: none;
}

.top-navbar__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

}

.top-navbar__list>li {
    padding: 0;
    margin: 0;
    flex-grow: 1;
    margin: 0.5em 2em;
}

.top-navbar__list>li>a {
    text-decoration: none;
}

.userprofile-dropdown-menu {

    transform: none !important;

    inset: 60px 4px auto auto !important;

}

@media (max-width:1200px) {
    .left-sidebar-toggle {
        display: none;
    }

}

/* TOPNAVBAR ENDS */



.main-content {
    padding: 100px 15px;
    width: 100%;
    min-height: 100vh;
    background: var(--primary-bg);
    background-size: cover;
}

.row1-data-card {
    width: 100%;
    height: 100%;
    transition: transform 300ms ease-in-out;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}

.row1-data-card:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background: #ad0000;
    color: #fff !important;
}



/* COMMON TO "a" TAGS */
.row1-data a {
    text-decoration: none;
    color: #000;
}

@media (min-width:1200px) {

    .row1-data-card:hover {
        transform: scale(1.06);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        /* background: #ad0000; */
        background: #ad0000;
        color: #fff !important;
    }

    .table-responsive {
        overflow-x: hidden;
    }

}

.row2-data-card {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.row3-data-card {
    border-radius: 15px;
}

.table-card {
    border-radius: 15px;
    /* border: none; */

}

.table-header {
    background: var(--primary-red);
    padding: 5px;
    margin: 16px 5px;
    border-radius: 10px !important;
    color: var(--primary-white);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.table-header-search {
    background-color: #f5f5f5;
}

tr>th,
tr>td {
    text-align: center;
}

.table-searchbar-container {
    background-color: #f5f5f5;
    border-radius: 10px;
    margin-left: auto;
    width: 300px;
    padding: 4px 6px;
}

.table-searchbar-container:hover {
    border-color: #4dabf7;
    outline: none;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 1%), 0 0 8px rgb(34 139 230 / 50%) !important;
}

.table-searchbar-container>button {
    border: none;
    outline: none;
    background-color: var(--primary-bg);
}

.table-searchbar {
    border: none;
    outline: none;
    background-color: var(--primary-bg);
    width: 90%;
}





@media (max-width:1200px) {


    .main {
        left: 0;
    }

    .top-navbar {
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .top-navbar__list {
        margin-left: auto;
        display: flex;
        justify-content: space-evenly;
    }

    .nmims-logo-smalldevices {
        display: inline;
        width: 125px;
        height: 40px;
        padding-left: 1em;
    }



    .hamburger-smalldevices {
        display: inline;
        transform: scale(1.2);

    }
}

@media (max-width:650px) {

    .top-navbar {
        display: grid;
        grid-template-columns: auto auto;

    }

    .mobile-icon {
        grid-column: 1/2;
        grid-row: 1/2;


    }

    .top-navbar__list {
        grid-column: 1/3;
        grid-row: 2/3;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

    }

    .hamburger-smalldevices {
        grid-column: 2/3;
        grid-row: 1/2;
        float: right;
    }

    .main-content {
        padding-top: 6em;
    }

    .table-responsive {
        overflow-x: auto;
    }

}


/* PAGINATION START*/

.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: var(--primary-white);
    border: 1px solid #ddd;
    border-radius: 5px;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 2;
    color: var(--primary-white);
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

/* PAGINATION END */

/* CUSTOM MODAL INPUT FORM */

.modal-inputform {
    border-radius: 12px;
    border: 3px solid var(--primary-white)
}


/* .modal-inputform-header{
    background-color: #E16071 !important;
    border-radius: 10px !important;
    color: var(--primary-white);
} */

.modal-inputform-btn {
    background-color: #009402;
    outline: none;
    border: none;
    color: var(--primary-white);
}

.modal-inputform-btn:hover {
    border: none;
    color: #009402;
    background-color: var(--primary-white);
}

.add-btn {
    background-color: #ffffffc4;
    color: black;
    border-radius: 50%;
    border: 0.5px solid #adadad;
}

.add-btn:hover {
    border-color: #4dabf7;
    outline: none;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 1%), 0 0 8px rgb(34 139 230 / 50%) !important;
    color: #5CA4EA;
}


.table-card-header {
    background-color: #5CA4EA;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    color: var(--primary-white);
}

.step-form {

    margin: auto;
    /* border: 2px solid white; */
    border-radius: 10px;
    padding: 1em 3em;
    background: #fff;
    padding: 20px;
}

.btn-container {

    margin-top: 10px;
}

.nxt-btn {
    border: none;
    border-radius: 3px;
    outline: none;
    background-color: var(--primary-red);
    color: var(--primary-white);
    padding: 4px 20px;
    font-size: 1.2rem;
}



/* Time line for Dashboard form */
.arrow-pointer {
    min-width: 250px;
    height: 50px;
    background: #ffffff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-left: 30px;
    margin-right: 40px;

}

.arrow-pointer:nth-last-child(1) {
    margin-right: 0px;
}

.arrow-pointer::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 25px solid #fff;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
}

.arrow-pointer::before {
    content: '';
    position: absolute;
    right: -25px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 25px solid #E16071;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
}

.pending {
    background: #E16071;
    color: #fff;
}

/* .pending::before {
    border-left: 25px solid #E16071;
}

.active {
    background: #ffc800;
    color: #000;
}

.active::before {
    border-left: 25px solid #ffc800;
} */

.submitted {
    background-color: #3cc58c !important;
    color: #fff !important;
}

.submitted::before {
    border-left: 25px solid #3cc58c !important;
}


.arrow-pointer:nth-child(1)::after {
    border-left: 0px;
}

.arrow-pointer:last-child::before {
    border-top: 0px;
    border-bottom: 0px;
}

.error-show {
    color: #E16071;
    font-size: 1.25rem;
    font-weight: bold;
}



/* E */
/* EITABLE TABLE */
.editable-table .editable {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 3px;
}



.left-sidebar-toggle-turn {
    transform: rotate(180deg);
}



input[type="checkbox"] {
    cursor: pointer;
}

/* Notification */
.notification-content {
    position: fixed;
    bottom: 10px;
    right: 10px;
    left: 75%;
    background-color: #fff;
    font-family: 'Varela Round', sans-serif;
    padding: 10px 15px;
    height: 100px;
    color: #333;
    border-radius: 5px;
    transform: translateX(calc(100% + 10px));
    transition: transform 500ms ease-in-out;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 3px solid #21dc71;
    border-top: 3px solid #21dc71;
    z-index: 10000000 !important;
    display: none;
}

.notification-active {
    transform: translateX(0);
    display: block;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.notification-inactive {
    transform: translateX(calc(100% + 10px));
}

.check-notification {
    font-size: 1.4rem;
    padding-left: 0.5rem;
    color: #21dc71;
}

.modal-content>p {
    margin-right: auto;
    padding-left: 1em;
}



/* The Close Button */

.close-notification {
    align-self: flex-start;
    font-size: 1.5em;
    padding-right: 0.5rem;
}

.close-notification:hover,
.close-notification:focus {
    color: gray;
    text-decoration: none;
    cursor: pointer;
}


/* Alert Notificatiopn */

.alert-modal {
    /* display: none; */
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    font-family: 'Ubuntu', sans-serif;
}

/* Modal Content/Box */
.alert-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    border-top: 5px solid #E16071;
    width: 25%;
    border-radius: 8px;
    box-sizing: border-box;
}

.alert-modal-header {
    background-color: #E16071;
    padding: 5px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    top: -20px;
}

.alert-modal-header i {
    /* background-color: #E16071; */
    color: white;
    transform: scale(1.5);

}

.custom-alert-modal-body>h2 {
    text-align: center;
    margin-top: 0;
}

.res-alert-modal-body>h4,
p {
    text-align: center;
    margin-top: 0;
}

.alert-modal-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #e7e7e7;

    padding: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.alert-btn {
    min-width: 30%;
    text-align: center;
    padding: auto 10px;
    background-color: white;
    border-radius: 4px;
    color: #333;
    font-size: 1.1rem;
    padding: 6px 2px;
    cursor: pointer;

}

/* The Close Button */


.alert-btn:hover,
.alert-btn:focus {
    background-color: #E16071;
    color: #fff;
}

.switch-checkbox {
    display: inline-block;
}


/* Switch CheckNox */
.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 20px;
}


svg {
    width: 100px;
    height: 100px;
    margin: auto;

}

.sub-nav {
    flex-direction: row !important;
}

.sub-nav>p {
    margin: 0;
    padding: 2px 10px;
    font-size: 0.9rem;
}

.sub-nav>img {
    width: 24px;
}

/* CUSTOM SELECT DATA */

.select-items {
    height: 800px;
    overflow-y: scroll;
    border-right: 2px solid black;
    position: relative;
}

.selected-items {
    height: 800px;
    overflow-y: scroll;
    position: relative;
}

.select-items h4 {
    position: fixed;
    z-index: 11;
    right: 50%;
    left: 0;
    margin-bottom: 25px;
    background: #fff;
}

.selected-items h4 {
    position: fixed;
    z-index: 11;
    right: 0;
    left: 50%;
    margin-bottom: 25px;
    background: #fff;
}

.select-items>input {
    position: fixed;
    z-index: 10;
    right: 76%;
    left: 0px;
    top: 120px;

}

.selected-items>input {
    position: fixed;
    z-index: 10;
    right: 5px;
    left: 25%;
    top: 120px;

}

.selected-room-filter {
    margin-top: 5rem !important;
}

.custom-select-list {
    position: relative;

    padding-top: 20px;
}

.list-group li {
    cursor: pointer;
}

.list-group li:hover {
    background: rgb(199, 199, 199);
}

.select-room-header {
    right: 76% !important;
}

.selected-room-header {
    left: 26% !important;
}

.searchItemProgram,
.searchItemSessionType,
.searchItemRoom,
.searchItemFaculty {
    width: 23% !important;
}
.searchItemProgramCustom{
    width: 100%;
}
.searchSelectedItemProgram,
.searchSelectedRoom,
.searchSelectedItemSessionType,
.searchSelectedFaculty {
    width: 73% !important;
}

/* CUSTOM DATALIST */


.data-list-input {
    font-size: 18px;
    padding: 5px;
    height: 35px;
    max-width: 100%;
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 5px;
    color: #333;

}

.custom-datalist {
    position: absolute;
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 0 0 5px 5px;
    border-top: none;
    font-family: sans-serif;
    max-width: 100%;
    padding: 5px;
    max-height: 15rem;
    overflow-y: auto;
    right: 0px;
    z-index: 100;
    left: 0;
}

option {
    background-color: white;
    padding: 4px;
    color: #333;
    margin-bottom: 1px;
    font-size: 18px;
    cursor: pointer;
}

option:hover,
.data-active {
    background-color: rgb(180, 180, 180);
}

.data-searchable-wrapper {
    position: relative;
}


/* SELECT 2 CSS */
.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 0 10px !important;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #ced4da !important;
    height: 39px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 39px !important;
}

/* BREADCRUMBS */
.breadcrumbs-container {
    margin-bottom: 1rem;
}

.breadcrumb {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.breadcrumb li {
    margin-right: 0.75rem;
}

.breadcrumb li a {
    color: #333;
}

.breadcrumb li::before {
    content: "> ";
}

.breadcrumb li:first-child::before {
    content: "";
}

.breadcrumb li:last-child a {
    text-decoration: none;
    pointer-events: none;
}


.selected-room-list {
    height: 500px;
    overflow-y: auto;
    margin-top: 10px;
}

/* ACTIVE TAB HIGHLIGHT */
.tab-active {
    background-color: #ad0000;
    color: #fff;
}

#courseWorkloadTable {
    width: 3000px;
}

/* .bg-info{
    background-color: #588bfb !important;
    color: #fff;
} */

.faculty-allocation-container .table {
    border-collapse: collapse !important;
    background-color: #fff !important;
    /* border-radius: 10px !important; */
    margin-top: 1rem !important;
    border-bottom-width: 0 !important;
}


.faculty-allocation-container .table tr:nth-child(even) {
    background-color: #fff !important;
    border-bottom-width: 0 !important;
}

.faculty-allocation-container .table tr:nth-child(even):hover {
    background-color: #fff !important;
    border-bottom-width: 0 !important;
}

.faculty-allocation-container .table>:not(caption)>*>* {
    border-bottom-width: 0 !important;
}

.fa-square {
    transform: scale(1.5);
}

.faculty-booked {
    color: #fd6566;
}

.faculty-available {
    color: #6cdab5;
}

.pending-event-container {
    overflow-y: auto;
    height: 60%;
    padding-bottom: 9rem;
}

.pending-event-container .list-group-item {
    border-top-width: 2px !important;
}

.pending-event-filter {
    width: 90%;
}

.span-filter {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    padding: 0;
    padding-left: 20px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
    cursor: default;
    padding-left: 2px;
    padding-right: 5px;
}

.room-span-remove {
    cursor: pointer;
}

.timetable-simulation thead th:not(:first-child) {
    width: 12.5%;
}

.no-lecture {
    background: #6c757d;
    color: white;
    padding: 10px;

}

#add-more-course-room-preference-table .active-tr {
    border: 2px solid red;
}

/* custom alert css added */
.custom-alert {
    width: 100vw;
    height: 100vh;
    background-color: #00000061;
    position: relative;
    z-index: 2005;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-alert-dialog-box {
    width: 30%;
    height: 30%;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border-top: 5px solid #0d6efd;
    min-width: 300px;
    box-shadow: 0px 0px 5px 1px;

}

.custom-alert-dialog-header {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color:#0d6efd;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-alert-header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.custom_check {
    color: white;
    font-size: 45px;
}

.custom-alert-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    word-break: break-all;
}
.dialogMessage{
    font-size: 1.5em;
}
.okButton {
    width: 80%;
    text-align: center;
    color: white;
    background-color: rgb(250, 4, 4);
    border-radius: 5px;
    padding: 10px;
    margin: auto;
}

.custom_check {
    color: white;
    font-size: 45px;
}

.dialogHeading {
    margin: 0;
    padding: 0;
}

/* custom confirmation css added */

.diablogHeaderMain {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-in-circle {
    font-size: xx-large;
    color:#ffffff;

}

.dialogHeading {
    margin: 0;
    padding: 0;
}

.custom_confirmation {
    width: 100vw;
    height: 100vh;
    background-color: #00000061;
    position: relative;
    z-index: 2005;
    opacity: 1.1;
    min-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom_confirmation_dialogBox {
    width: 30%;
    height: 30%;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border-top: 5px solid #4287f5;
    min-width: 300px;
    box-shadow: 0px 0px 5px 1px;
}
.custom_confirmation_dialogHeader {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #4287f5;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messageContent{
    font-size: 1.5em;
}
.custum_confirmatin_dialogMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    word-break: break-all;
}


.costum_confirmat_btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;

}

.custom_confirm_successbtn {
    width: 47%;
    text-align: center;
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    margin: 0 1%;
    border: none;
    box-shadow: 2px 2px 4px #000;
}

.custom_confirm_cancelbtn {
    width: 47%;
    text-align: center;
    color: black;
    border: none;
    box-shadow: 2px 2px 4px #000;
    border-radius: 5px;
    margin: 0 1%;
    padding: 10px;
    background-color: transparent;
}

.custom_confirm_cancelbtn:hover {
    background-color: #4287f5;
    box-shadow: none;
    color:white;
}
.custom_confirm_successbtn:hover{
    box-shadow: none;
    background-color: #4287f5;
    color:white;
}

.searchItemProgramCustom{
    width: 100%;
}


@media only screen and (max-width :400px) {
    .dialogHeader {
        width: 60px;
        height: 60px;
    }

    .dialogButtonContainer {
        flex-direction: column;
    }
}

/* STYLE FOR SIDEBAR HIDE */

.accordion-button.active::after {
    width: 0px;
}

.close-menu.test::after {
    display: none;
}

.left-sidebar-logo-side {
    display: none;
}

.close-menu-side {
    display: none;
}

.left-sidebar-side {
    width: 75px;
}

.top-navbar-side {
    left: 75px;
}

.main-side{
    left: 75px;
}

/* END OF SIDEBAR HIDE STYLE */


.course-card {
    background: #fff;
    min-height: 50px;
    position: relative;
    margin-bottom: 24px;
    border: 1px solid #f2f4f9;
    border-radius: 10px;
    box-shadow: 0 0 10px #b7c0ce33;
    -webkit-box-shadow: 0 0 10px 0 rgba(183,192,206,.2);
}

.course-card .header {
    position: relative;
    display: flex;
    width: 100%;
    color: #555;
    padding: 10px 15px;
    line-height: 30px;
    background: #0B3461;
    color: #ffffff;
}

.course-table thead tr th {
    padding: 0 10px;
    height: 50px;
    vertical-align: middle;
    background-color: #dee2e6;
    color: #666;
    font-weight: 500;
    border: none;
}

.left-sidebar-mini-logo {
    display: none;
}

.left-sidebar-mini-logo-hide {
    padding: 12px 0 0 7px;
    display: block;
}

.dt-buttons {
    float: right;
}

.dt-button {
    border-radius: 6px;
    border: none;
    background: mintcream;
}


table.dataTable thead th, table.dataTable thead td, table.dataTable tfoot th, table.dataTable tfoot td {
    text-align: center !important;
}

.pdf-btn {
    border-radius: 5px;
    /* background: #C3103E; */
    border: none;
    color: #ffffff;
}

.dataTables_filter {
    text-align: center !important;
    margin-top: -33px !important;
    width: 150%;
}

.dataTables_filter input {
    width: 150% !important;
}

.error-container{
    position:absolute;
    bottom:0;
    right:20px;
}

.modal-close-btn {
    color: #ffffff;
    background: #a8b5c3;
    box-shadow: none;
    border: none;
    border-radius: 2px;
}

/* .modal-header {
    background: #0B3461;
    color: #ffffff;
} */

#student-info_wrapper {
    padding-top: 24px;
}

.font-size-25{
    font-size: 15px;
}
.custom_list:hover{
background-color: #f0f3fb;
border-radius: 15px;
width: 98%;
margin: auto;
}
.sub-menu{
 padding: 1px !important;
}
.sub-menu li{
    padding: 3px  !important;
    background-color: #f8f9fa !important;

}
.sub-menu li:hover{
    box-shadow: 2px 2px white;
}

.student {
    background-color: orange;
    color: white;
}

.label {
    margin-top: -15px;
    background-color: white;
    margin-left: 15px;
}
#show_password{
    font-size: 24px;
}

.outline-remove:focus{
    outline: none;
}
#remember_check_me{
    width: 25px;
    height: 25px;
}
#remember_check_me{
    accent-color: white;
    color:green;
}
#need_a_account{
    opacity: 0.7;
}

.img-logo{
    max-width: 100%;
    max-width: 100% !important
}
.student_image{
    width: 30px;
    height: 30px;
}
.start-time{
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0 !important;
    font-size: 0.75em;
}
.end-time{
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 0 !important;
    font-size: 0.75em;
}
.custom_disabled{
    background-color: #f2f2f2; 
    color: #999; 
    /*pointer-events: none; */
    opacity: 0.6;
}
.room_slot_selected{
    box-shadow: 5px 0 5px -2px rgba(0, 0, 0, 0.5), -5px 0 5px -2px rgba(0, 0, 0, 0.5);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-sizing: border-box !important;
    background-color:var(--primary-bg) !important;
}
.creatCustom {
    background: rgb(18, 120, 209);
    text-align: center;
    border-radius: 15px;
    padding: 15px;
    color: white;
    border: none;
}

.dialog {
    position: fixed;
    width: 600px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000000000;
    bottom:30px;
    right: 30px;
}

.dialogBox {
    background-color: rgb(18, 120, 209);
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: space-evenly;
    padding: 1em;
    box-shadow: 0 0 5px 5px;
}

.dialogMessage {
   
    text-align: center;

}

.dialogHeading {
    text-align: center;
    padding: 0;
    margin: 0;
}

.buttonContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.okButton {
    background-color: #0d6efd;
    width: 40%;
    text-align: center;
    color: black;
    border-radius: 15px;
    padding: 10px;
    color: white;
    border: none;
}

.cancelButton {
    background-color: #ff0000;
    width: 40%;
    height: 100%;
    color: black;
    text-align: center;
    border-radius: 15px;
    color: white;
    padding: 10px;
    border: none;
}


.selected_course_student_modal{
    background-color: #f8f9fa;
}
.timetable-container {
    width: var(--timetableWidth);
    background: #e6e6e6;
    /* border: 2px solid;    */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;


  }

  .room {
    border: 1px solid black;
    min-height: 220px;
    max-height: 220px;
  }

  .room-slots {
    width: var(--roomSlotWidth);
    min-height: 215px;
    position: relative;
    background-size: var(--breakIntervalWidth);
    background-image: linear-gradient(to right, grey 1px, transparent 1px);
  }

  .room-no {
    min-width: var(--roomNoWidth);
    max-width: var(--roomNoWidth);
    background: #006faa;
    color: #fff;
    border-bottom: 1px solid;
    text-align: center;
    padding: 99px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .card-header-custom {
    background-color: #5ca4ea !important;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    color: #fff;
  }

  hr {
    margin: 0 !important;
  }
  .custom_table tr:nth-child(odd){
    background-color:var(--primary-table-bg);
  }
  .table thead tr{
    vertical-align: middle;
  }
  .btn_close_custom{
    font-size: medium !important;
    position: absolute !important;
    top:0 !important;
    right: 0 !important;
    color: black;
    width: 30px;
    height: 30px;
    border: none;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  }
  .room_slot_selected {
    position: relative;
  }
  
  .btn_close_custom  {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
}
.disbaled_whole_div{
    pointer-events: none;
}
.disbaled_whole_div .btn_close_custom{
    pointer-events: all;
}
.selected_course{
    max-height: 400px;
    min-height: 100px;
}
.selected_cour_readonly {
    max-height: 400px;
    min-height: 100px;
}
.add-btn-program{
    background-color: whitesmoke !important;
    border-radius: 50% !important;   
}

.custom-table thead th{
    background-color:var(--primary-table-bg);
}
.custom-table tbody tr:nth-child(odd){
    background-color:var(--primary-table-bg);   
}

.custm-padd{
    padding: 1em;
}
.import-program-table thead th{
    background-color: var(--primary-table-bg)
}
#importProgram .row {
    --bs-gutter-x:0 !important;
}
.add-bidding-session-button {
    background-color: whitesmoke !important;
    border-radius:  50% !important;
}
#bidding-sesssion-table thead th{
    background-color: var(--primary-table-bg);
}
#bidding-sesssion tbody tr:nth-child(odd){
 background-color: var(--primary-table-bg);
}
#add-bidding-session .modal-body .table th{
    background-color: var(--primary-table-bg);
}

.custom-width {
    width: 80%;
}
.course-card{
    background-color: var(--primary-table-bg);
    border-radius: 25px;
}

#upload-course-modal .modal-content{
 border-top-left-radius: 15px !important;
 border-top-right-radius: 15px !important;   
}

.select2-container--open {
    z-index: 2001; 
}

.add-btn-specialization {
    background-color: whitesmoke !important;
    border-radius: 50% !important;
}

.select2-dropdown {
    min-height: 100px; 
    max-height: 400px;
}
.creatCustom {
    background: rgb(18, 120, 209);
    text-align: center;
    border-radius: 15px;
    padding: 15px;
    color: white;
    border: none;
}

.dialogConfirmation {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    position: relative;
    z-index: 2000;
}

.dialogBox {
    background-color: rgb(166, 175, 183);
    min-height: 200px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: space-evenly;
    position: absolute;
    right: 10px;
    bottom: 10px;    
}

.dialogMessage {
    color: white;
    text-align: center;

}

.dialogHeading {
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
}

.buttonContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.okButton {
    background-color: #157347;
    width: 40%;
    height: 100%;
    text-align: center;
    color: black;
    border-radius: 15px;
    padding: 10px;
    color: white;
    border: none;
}

.cancelButton {
    background-color: #ff0000;
    width: 40%;
    height: 100%;
    color: black;
    text-align: center;
    border-radius: 15px;
    color: white;
    padding: 10px;
    border: none;
}

#edit-bidding-session-modal .select2-dropdown{
 min-height: 200px;
 max-height: 200px;
}
.search-button-timetable{
    height:38px;
}
.timetable-slot{
    min-height: 215px;
    max-height: 215px;
}
#total-student-bidding-rounds{
    z-index: 2050;
}

#total-student-bidding-rounds .modal-body{
    overflow-y: scroll; 
    max-height: 300px; 
}
#total-courses-bidding-rounds{
    z-index: 2050;
}

#total-courses-bidding-rounds .modal-body {
    overflow-y: scroll;
    max-height: 300px;
}
#bidding-rounds-add-date-time {
    z-index: 2051;
}

.import-bidding-rounds-table  thead th{
    background-color: var(--primary-table-bg);
}
.import-bidding-rounds-table  tbody tr:nth-child(odd){
 background-color: var(--primary-table-bg);
}
#update-total-student-bidding-rounds .modal-body  {
    overflow-y: scroll;
    max-height: 300px;
}
#update-total-student-bidding-rounds{
    z-index: 2052;
}
#update-total-courses-bidding-rounds {
    z-index: 2052;
}
#update-total-courses-bidding-rounds .modal-body{
    overflow-y: scroll;
    max-height: 300px;
}

.confirm-coures-table thead th{
    background-color: var(--primary-table-bg)
}
.student-complete-courses-list-table thead th{
    background-color: var(--primary-table-bg);
}
.student-course-status {
 height: 130px;
}

.card-custom-border-curv {
    border-radius: 15px !important;
  }
  .custom-width{
    width: 96%;
  }

  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  a {
      text-decoration: none;
  }
  
  li {
      list-style: none;
  }
  
  
  
  html {
      overflow-x: hidden;
  }
  

  
 
  
  .brand {
      margin-top: 12px;
  }
  /* SIDEBAR */
  
  .left-sidebar {
      position: fixed;
      top: 0;
      left: 0;
      width: var(--left-sidebar-width);
      height: 100%;
      z-index: 2000;
      font-family: var(--lato);
      transition: .3s ease;
      overflow-x: hidden;
      scrollbar-width: none;
  }
  
  .left-sidebar::--webkit-scrollbar {
      display: none;
  }
  
  .left-sidebar.hide {
      width: 80px;
  }
  
  .left-sidebar .brand {
      font-size: 24px;
      font-weight: 700;
      height: 56px;
      display: flex;
      align-items: center;
      color: var(--blue);
      position: sticky;
      top: 0;
      left: 0;
      background: var(--light);
      z-index: 500;
      padding-bottom: 20px;
      box-sizing: content-box;
  }
  
 
  
  .student-left-side-image {
      width: 21px;
      height: 21px;
      margin-left: 10px;
      margin-right: 10px;
  }
  
  .left-sidebar .side-menu {
      width: 100%;
      position: relative;
  }
  .left-sidebar .side-menu{
    padding-inline-start: 10px;
  }
  .left-sidebar .side-menu li {
      height: 73px;
      background: transparent;
      margin-left: 6px;
      border-radius: 48px 0 0 48px;
      padding: 9px;
  }
  

  
  .left-sidebar .side-menu li img{
     width: 30px;
     height: 30px;
  }
  
  .left-sidebar .side-menu li a {
      width: 100%;
      height: 100%;
      /* background: var(--light); */
      display: flex;
      align-items: center;
      border-radius: 48px;
      font-size: 17px;
      color: var(--dark);
      white-space: nowrap;
      overflow-x: hidden;
      padding: 5px;
  }
  
  .left-sidebar .side-menu.top li.active a {
      color: var(--blue);
      font-weight: 700;
      font-size: 16px;
      transition: 0.3s;
      background-color: #5ca4ea;      
  }
  
   .left-sidebar.hide .side-menu li a {
      width: calc(48px - (4px * 2));
      transition: width .3s ease;
  } 
  
  #sidebar .side-menu li.active{
    background: var(--primary-bg);
    position: relative;
  }
 
  #sidebar .side-menu li.active::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: -60px;
    right: 0;
    box-shadow: 30px 30px 0 var(--primary-bg);
    z-index: -1;
}

#sidebar .side-menu li.active::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    bottom: -60px;
    right: 0;
    box-shadow: 30px -30px 0 var(--primary-bg);
    z-index: -1;
}
  
  @media screen and (max-width: 768px) {
      .left-sidebar {
          width: 200px;
      }
      #content {
          width: calc(100% - 60px);
          left: 200px;
      }
      #content nav .nav-link {
          display: none;
      }
  }
  
  @media screen and (max-width: 576px) {
      #content nav form .form-input input {
          display: none;
      }
      #content nav form .form-input button {
          width: auto;
          height: auto;
          background: transparent;
          border-radius: none;
          color: var(--dark);
      }
      #content nav form.show .form-input input {
          display: block;
          width: 100%;
      }
      #content nav form.show .form-input button {
          width: 36px;
          height: 100%;
          border-radius: 0 36px 36px 0;
          color: var(--light);
          background: var(--red);
      }
      #content nav form.show~.notification,
      #content nav form.show~.profile {
          display: none;
      }
      #content main .box-info {
          grid-template-columns: 1fr;
      }
  }
 #courseChart{
    height: 370px;
 }

 .header-container {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nmims-logo {
    width: 180px;
    height: 60px;
    margin-top: 5px;
}

.separator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1px;
    width: 75%;
    background-color: #000;
}

.side-bar-content{
    font-size: 18px;    
}
.hr{
    border: 0.25px solid black;
    width: 80%;
    box-shadow: 0.25px 0.25px #5ca4ea;
}
.top-navbar::before
{
content: '';
position: absolute;
width: 60px;
height: 60px;
bottom: -60px;
left: 0;
border-radius: 50%;
box-shadow: -30px -30px 0 var(--primary-white);
}

.logo-img .nmims-logo-small{
    width: 70px;
    height: 60px;
}
.logo-img .nmims-logo{
    background-color: white;
    border-radius: 5px;
}

.student-add-drop-image{
    width: 38px;
    height: 38px;
}

.student-icon-image{
    width: 35px;
    height: 35px;
}

.top-navbar .left-sidebar-toggle{
    border: none; 
    outline: none; 
    background-color: white;
}