<div class="row gx-3 gy-3 mb-3 row1-data">

    <div class="col-12">
        
        <div class="breadcrumb" style="margin: 10px 0;">
            <a style="text-decoration: none; color: #007bff; font-weight: bold;" href="/">Dashboard</a>
            <!-- <span style="margin: 0 5px; color: #777;">&gt;</span> -->
            <i class="fa fa-home" aria-hidden="true" style="margin: 0 5px;"></i>
            <a href="/products">Dashboard</a>
          </div>
          
    </div>
    
<!-- 
    <div class="col-xl-2 col-lg-4 col-md-6">
        <a href="<%- path %>/days">
            <div class="card row1-data-card text-center">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <img src="/icon_imgs/days.png" alt="">
                    <p class="fw-normal pt-1">DAYS</p>
                </div>
            </div>
        </a>
    </div> -->

    <div class="col-xl-2 col-lg-4 col-md-6">
        <a href="javascript:void(0)" class="tab-expand">
            <div class="card row1-data-card text-center">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <img src="/icon_imgs/time.png" alt="">
                    <p class="fw-normal pt-1">TIMETABLE SESSION</p>
                </div>
            </div>
        </a>
    </div>
    
    <div class="col-xl-2 col-lg-4 col-md-6">
        <a href="javascript:void(0)" class="tab-expand">
            <div class="card row1-data-card text-center " >
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <img src="/icon_imgs/programs.png" alt="">
                    <p class="fw-normal pt-1">PROGRAMS</p>
                </div>
            </div>
        </a>
    </div>
    
    <div class="col-xl-2 col-lg-4 col-md-6">
        <a href="javascript:void(0)">
            <div class="card row1-data-card text-center">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <img src="/icon_imgs/courseWorkload.png" alt="">
                    <p class="fw-normal pt-1">COURSE WORKLOAD</p> 
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-2 col-lg-4 col-md-6">
        <a href="javascript:void(0)">
            <div class="card row1-data-card text-center">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <img src="/icon_imgs/session.png" alt="">
                    <p class="fw-normal pt-1">SESSION</p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-2 col-lg-4 col-md-6">
        <a href="javascript:void(0)">
            <div class="card row1-data-card text-center">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <img src="/icon_imgs/event.png" alt="">
                    <p class="fw-normal pt-1">EVENT</p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-2 col-lg-4 col-md-6 ">
        <a href="javascript:void(0)">
            <div class="card row1-data-card text-center">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <img src="/icon_imgs/holidays.png" alt="">
                    <p class="fw-normal pt-1">HOLIDAYS</p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-2 col-lg-4 col-md-6 ">
        <a href="javascript:void(0)">
            <div class="card row1-data-card text-center">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <img src="/icon_imgs/bed.png" alt="">
                    <!-- <p class="fw-normal pt-1">ROOM TRANSACTION</p> -->
                    <p class="fw-normal pt-1">ROOMS</p>
                </div>
            </div>
        </a>
    </div>


    <div class="col-xl-2 col-lg-4 col-md-6">
        <a href="javascript:void(0)">
            <div class="card row1-data-card text-center">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <img src="/icon_imgs/division2.png" alt="">
                    <p class="fw-normal pt-1">DIVISIONS & BATCHES</p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-2 col-lg-4 col-md-6">
        <a href="javascript:void(0)">
            <div class="card row1-data-card text-center">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <img src="/icon_imgs/overload.png" alt="">
                    <p class="fw-normal pt-1">FACULTY</p>
                </div>
            </div>
        </a>
    </div>



