<!-- The Modal -->
 
 <!-- <div id="alertModal" class="alert-modal"> -->


    <!-- Modal content -->
    <!-- <div class="alert-modal-content">
        <div class="alert-modal-header">
            <i class="fa-solid fa-trash-can"></i>
        </div>
        <div class="alert-modal-body custom-alert-modal-body">
            <h2>Are you sure??</h2>
            <P class="text-center">By continuing all data will be deleted!!</P>
        </div>
        <div class="alert-modal-footer">
            <div class="alert-cancel alert-btn">Cancel</div>
            <div class="alert-continue alert-btn">Continue</div>
        </div>
      </div>

</div> -->