<footer class="student-footer">
    <div class="student-footer-div">
        <div class="d-flex justify-content-center align-items-center" style="height: 40px;">
            <div class="d-flex justify-content-between align-items-center">
                <button class="btn btn-success text-light">Remaining Bid Points:&nbsp;<span id="remaining-bid-points"></span></button>
            </div>
        </div>
    </div>
</footer>

</body>
</html>