<main class="main">
    <!-- NAVBAR -->
    <header>
        <nav class="top-navbar d-flex justify-content-xl-end justify-content-between align-items-center">
            <a href="/management/dashboard"><img src="/image/logo-nmims.png" alt="NMIMS LOGO" class="nmims-logo-smalldevices me-auto"></a>
            <div class="navbar-logo d-none me-auto">
                <a href="/management/dashboard"> <img src="/image/logo-nmims.png" class="nmims-logo"> </a>
             </div>
            <button class="me-auto left-sidebar-toggle" style="border: none; outline: none; background-color: white;"><i class="fa-solid fa-angles-left"></i></button>
            <ul class="top-navbar__list">
                <button type="button" class="btn btn-danger ms-auto me-3"  id="refresh-areas">
                    <i class="fa-solid fa-rotate p-1"></i>Refresh
                </button>  
                <li><a href="" class="text-dark"><img src="/icons/notification.png" alt=""> Notification</a></li>
                <li><a onclick="toggle_full_screen()" style="cursor: pointer;"><img src="/icons/expand.png" alt=""></a></li>
               
                    <img src="/icons/user.png" alt=""> Hi! <%- locals.fullName %>
                    </button>
                    <button class="btn"><a class="dropdown-item" href="/user/logout"><i class="fas fa-sign-out-alt"></i> Signout</a></button>
              
            </ul>
            <div class="hamburger-smalldevices"><img src="/icons/HamburgerIcon.png" alt="" width="24px" height="20px">
            </div>
        </nav>
    </header>