</head>
<style>
 
</style>
<body>
    <section id="sidebar" class="left-sidebar">
        <div class="header-container">
            <a href="" class="logo-img">
                <img src="/image/logo-nmims.png" class="nmims-logo">
                <img src="/icons/logo.png" class="d-none nmims-logo-only" style="width: 70px;height: 60px;">
            </a>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <div class="hr">
            </div>
        </div>
        
        <ul class="side-menu top mt-5">
            <li class="p-2 dashboard">
                <a href="/student/dashboard" target="_self" class="text-decoration-none">
                    <img src="/icons/homeThird.png" class="icons-img left-sidebar-only-img">
                    <span class="text text-dark side-bar-content ms-1">Home</span>
                </a>
            </li>
            <li class="demand-estimation">
                <a href="/student/demand-estimation" class="text-decoration-none">
                    <img src="/icons/demandEstimationSecond.png" class="icons-img">
                    <span class="text text-dark side-bar-content">Demand Estimation</span>
                </a>
            </li>
            <li class="available-course">
                <a href="/student/available-course" class="text-decoration-none">
                    <img src="/icons/availableCourse.png" class="icons-img">
                    <span class="text text-dark side-bar-content">Available Course</span>
                </a>
            
            </li>
            <li class="bidding">
                <a href="/student/bidding" class="text-decoration-none">
                    <img src="/icons/biddingSecond.png" class="icons-img">
                    <span class="text text-dark side-bar-content">Bidding</span>
                </a>
            </li>
            <li class="confirmation">
                <a href="/student/confirmation" class="text-decoration-none">
                    <img src="/icons/confirmationSecond.jpg" class="icons-img">
                    <span class="text text-dark side-bar-content">Confirmation</span>
                </a>
            </li>
            <li class="waitlist-generation">
                <a href="#" class="text-decoration-none">
                    <img src="\icons\waitlistSecond.png" class="icons-img">
                    <span class="text text-dark side-bar-content">W/L Generation</span>
                </a>
            </li>
            <li class="p-2 add-drop">
                <a href="#" class="text-decoration-none">
                    <img src="\icons\addDrop.png" class="icons-img" style="width: 38px;height: 38px;">
                    <span class="text text-dark side-bar-content" >Add Drop</span>
                </a>
            </li>
        </ul>
    </section>
    