</head>
<body>
<aside class="left-sidebar">

    <div class="left-sidebar-logo">
       <a href="/management/dashboard"> <img src="/image/logo-nmims.png" class="nmims-logo"> </a>
    </div>

    <ul class="offset-list offcanvas-body sidebar-body" id="left-sidebar-accordion">
       <div class="w-75 m-auto">
        <a href="/student/home" class="offset-list-item-link">
            <div class="p-2 d-flex">
                <img src="/icons/home.png">
                <li>Home</li> 
            </div>
        </a>
  </div>
        <a href="#" class="offset-list-item-link d-flex justify-content-center">
            <li> Demand Estimation</li>
        </a>
        
        <a href="#" class="offset-list-item-link">
            <li>
                <div class="accordion-header" id="heading-one">
                    <button class="accordion-button collapsed custom-accordian-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
                        <img src="/icons/academic-master.png"> Bidding
                    </button>
                </div>
                <div id="collapse-one" class="accordion-collapse collapse" aria-labelledby="heading-one" data-bs-parent="#left-sidebar-accordion">
                    <div class="accordion-body ">
                        <a href="/management/academic/academic-year" class="list-group-item custom-list-group-item list-group-item-action" aria-current="true">
                            
                        </a>
                        <a href="/management/academic/session" class="list-group-item custom-list-group-item list-group-item-action">Academic Session</a>
                        <a href="/management/academic/calender" class="list-group-item custom-list-group-item list-group-item-action">Academic Calender</a>
                    
                    </div>
                </div>
            </li>
        </a>


        <a href="#" class="offset-list-item-link">
            <li>


                <div class="accordion-header" id="heading-three">

                    <button class="accordion-button collapsed custom-accordian-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-three" aria-expanded="true" aria-controls="collapse-three">
                        <img src="/icons/organization.png"> Bidding
                    </button>
                </div>
                <div id="collapse-three" class="accordion-collapse collapse" aria-labelledby="heading-three"
                    data-bs-parent="#left-sidebar-accordion">
                    <div class="accordion-body ">

                        <a href="/management/organizations" class="list-group-item custom-list-group-item list-group-item-action"
                            aria-current="true">
                          Organizations
                        </a>
                </div>
            </li>
        </a>


        <a href="#" class="offset-list-item-link">
            <li>
                <div class="accordion-header" id="heading-four">

                    <button class="accordion-button collapsed custom-accordian-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-four" aria-expanded="true" aria-controls="coll-four">
                        <img src="/icons/campus.png">Confirmation
                    </button>
                </div>
                <div id="collapse-four" class="accordion-collapse collapse" aria-labelledby="heading-four"
                    data-bs-parent="#left-sidebar-accordion">
                    <div class="accordion-body ">

                        <a href="/management/campuses" class="list-group-item custom-list-group-item list-group-item-action "
                            aria-current="true">
                           Campus
                        </a>
                    </div>
                </div>
            </li>
        </a>

        <a href="#" class="offset-list-item-link">
            <li>
                <div class="accordion-header" id="heading-five">

                    <button class="accordion-button collapsed custom-accordian-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-five" aria-expanded="true" aria-controls="collFour">
                        <img src="/icons/school-building.png"> Building master
                    </button>
                </div>
                <div id="collapse-five" class="accordion-collapse collapse" aria-labelledby="heading-five"
                    data-bs-parent="#left-sidebar-accordion">
                    <div class="accordion-body ">

                        <a href="/management/buildings" class="list-group-item custom-list-group-item list-group-item-action "
                            aria-current="true">
                           Building
                        </a>
                    </div>
                </div>
            </li>
        </a>

        <a href="#" class="offset-list-item-link">
            <li>
                <div class="accordion-header" id="heading-six">

                    <button class="accordion-button collapsed custom-accordian-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-six" aria-expanded="true" aria-controls="collFour">
                        <img src="/icons/room-master.png"> Room master
                    </button>
                </div>
                <div id="collapse-six" class="accordion-collapse collapse" aria-labelledby="heading-six"
                    data-bs-parent="#left-sidebar-accordion">
                    <div class="accordion-body ">

                        <a href="/management/rooms/room" class="list-group-item custom-list-group-item list-group-item-action "
                            aria-current="true">
                           Room Data
                        </a>
                        <a href="/management/rooms/bookings" class="list-group-item custom-list-group-item list-group-item-action "
                            aria-current="true">
                           Room Settings
                        </a>
                        <a href="/management/rooms/requests" class="list-group-item custom-list-group-item list-group-item-action "
                            aria-current="true">
                           Room Request
                        </a>
                    </div>
                </div>
            </li>
        </a>

        <a href="#" class="offset-list-item-link">
            <li>
                <div class="accordion-header" id="heading-seven">

                    <button class="accordion-button collapsed custom-accordian-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-seven" aria-expanded="true" aria-controls="collFour">
                        <img src="/icons/faculty.png"> Faculty master
                    </button>
                </div>
                <div id="collapse-seven" class="accordion-collapse collapse" aria-labelledby="heading-seven"
                    data-bs-parent="#left-sidebar-accordion">
                    <div class="accordion-body ">

                        <a href="/management/faculties" class="list-group-item custom-list-group-item list-group-item-action "
                            aria-current="true">
                           Faculty
                        </a>
                        <a href="/management/faculties/types" class="list-group-item custom-list-group-item list-group-item-action "
                            aria-current="true">
                           Faculty Type
                        </a>
                        <a href="/management/faculties/faculty" class="list-group-item custom-list-group-item list-group-item-action "
                            aria-current="true">
                           faculties
                        </a>
                    </div>
                </div> 
            </li>
        </a>

        <a href="#" class="offset-list-item-link">
            <li>
                <div class="accordion-header" id="heading-eight">

                    <button class="accordion-button collapsed custom-accordian-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-eight" aria-expanded="true" aria-controls="collFour">
                        <img src="/icons/holiday-upload.png"> Holiday master
                    </button>
                </div>
                <div id="collapse-eight" class="accordion-collapse collapse" aria-labelledby="heading-eight"
                    data-bs-parent="#left-sidebar-accordion">
                    <div class="accordion-body ">

                        <a href="/management/holidays" class="list-group-item custom-list-group-item list-group-item-action "
                            aria-current="true">
                           Holiday
                        </a>
                        <a href="/management/holidays/types" class="list-group-item custom-list-group-item list-group-item-action "
                            aria-current="true">
                           Holiday Type
                        </a>
                      
                    </div>
                </div> 
            </li>
        </a>


        <a href="" class="offset-list-item-link">
            <li class="userprofile-container">
                <div class="accordion-header" id="headingFive">

                    <button class="accordion-button custom-accordian-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collFive">
                        <img src="/icons/user.png"> User
                    </button>
                </div>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                    data-bs-parent="#left-sidebar-accordion">
                    <div class="accordion-body ">

                        <a href="#" class="list-group-item custom-list-group-item list-group-item-action "
                            aria-current="true">
                            Settings
                        </a>
                        <a href="#" class="list-group-item custom-list-group-item list-group-item-action">
                            Manage account</a>


                    </div>
                </div>
            </li>
        </a>


        <a href="/user/logout" class="offset-list-item-link">
            <li><img src="/icons/logout.png" class="ps-3 pe-2"> Logout</li>
        </a> 

    </ul>

</aside>