</head>

<body>
    <section id="sidebar" class="left-sidebar">
        <div class="header-container">
            <a href="/student/dashboard" class="logo-img">
                <img src="/image/logo/logo-nmims.png" class="nmims-logo">
                <img src="/image/logo/logo-nmims-small.png" class="d-none nmims-logo-only">
            </a>
        </div>

        <div class="d-flex justify-content-center align-items-center">
            <div class="hr"></div>
        </div>
        
        <ul class="side-menu top mt-5">
            <li class="p-2 dashboard">
                <a href="/student/dashboard" target="_self" class="text-decoration-none">
                    <img src="/image/student/leftsidebar/home.png" class="student-left-side-image">
                    <span class="text text-dark side-bar-content ms-1">Home</span>
                </a>
            </li>

            <li class="demand-estimation">
                <a href="/student/demand-estimation" class="text-decoration-none">
                    <img src="/image/student/leftSideBar/demand-estimation.png" class="student-left-side-image">
                    <span class="text text-dark side-bar-content">Demand Estimation</span>
                </a>
            </li>

            <li class="available-course">
                <a href="/student/available-course" class="text-decoration-none">
                    <img src="/image/student/leftSideBar/available-course.png" class="student-left-side-image">
                    <span class="text text-dark side-bar-content">Available Course</span>
                </a>
            </li>

            <li class="bidding">
                <a href="/student/bidding" class="text-decoration-none">
                    <img src="/image/student/leftSideBar/bidding.png" class="student-left-side-image">
                    <span class="text text-dark side-bar-content">Bidding</span>
                </a>
            </li>

            <li class="confirmation">
                <a href="/student/confirmation" class="text-decoration-none">
                    <img src="/image/student/leftSideBar/confirmation.jpg" class="student-left-side-image">
                    <span class="text text-dark side-bar-content">Confirmation</span>
                </a>
            </li>

            <li class="waitlist-generation">
                <a href="#" class="text-decoration-none">
                    <img src="/image/student/leftSideBar\waitlist.png" class="student-left-side-image">
                    <span class="text text-dark side-bar-content">W/L Generation</span>
                </a>
            </li>

            <li class="p-2 add-drop">
                <a href="#" class="text-decoration-none">
                    <img src="/image/student/leftSideBar\add-drop.png" class="student-add-drop-image student-left-side-image">
                    <span class="text text-dark side-bar-content"> Add Drop</span>
                </a>
            </li>

        </ul>
    </section>
    