<div class="alertBody vh-100 w-100 position-fixed d-none">
    <div class="position-absolute alert text-center">
        <div class="col-12 alert-inner text-center">
            <h6 class='badge badge-danger manualAllocationBadge d-none'>Manual Allocation</h6>
            <p class="alert-text"></p>
        </div>
        <div class="alertBtns">
        <button class="btn btn-sm btn-danger" id='alertOk'>Got It!</button>
        <button class="btn btn-sm btn-danger d-none" id='alertConfirm'>I Confirm</button>
        <button class='btn btn-sm btn-info d-none' id='alertNo'>No, please don't.</button>
        </div>
    </div>
</div>