<div class="row my-3 gx-3 gy-3 row1-data">


    <div class="col-xl-2 col-lg-4 col-md-6">
        <a href="/admin/faculties">
            <div class="card row1-data-card text-center <% if(Url === "/admin/faculties"){%>tab-active<%}%>">
                <div class="card-body d-flex flex-column align-items-center justify-content-center sub-nav">
                    <img src="/icon_imgs/room-type.PNG" alt="">
                    <p class="fw-normal pt-1">FACULTY</p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-2 col-lg-4 col-md-6">
        <a href="/admin/faculties/date-time">
            <div class="card row1-data-card text-center <% if(Url === "/admin/faculties/date-time"){%>tab-active<%}%>">
                <div class="card-body d-flex flex-column align-items-center justify-content-center sub-nav">
                    <img src="/icon_imgs/room-type.PNG" alt="">
                    <p class="fw-normal pt-1">FACULTY DATE TIME</p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-2 col-lg-4 col-md-6">
        <a href="/admin/faculties/works">
            <div class="card row1-data-card text-center <% if(Url === "/admin/faculties/works"){%>tab-active<%}%>">
                <div class="card-body d-flex flex-column align-items-center justify-content-center sub-nav">
                    <img src="/icon_imgs/room-type.PNG" alt="">
                    <p class="fw-normal pt-1">FACULTY WORKS</p>
                </div>
            </div>
        </a>  
    </div>

    <div class="col-xl-2 col-lg-4 col-md-6">
        <a href="/admin/faculties/batch">
            <div class="card row1-data-card text-center <% if(Url === "/admin/faculties/batch"){%>tab-active<%}%>">
                <div class="card-body d-flex flex-column align-items-center justify-content-center sub-nav">
                    <img src="/icon_imgs/room-type.PNG" alt="">
                    <p class="fw-normal pt-1">FACULTY BATCH</p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-2 col-lg-4 col-md-6">
        <a href="/admin/faculties/allocation-status">
            <div class="card row1-data-card text-center <% if(Url === "/admin/faculties/allocation-status"){%>tab-active<%}%>">
                <div class="card-body d-flex flex-column align-items-center justify-content-center sub-nav">
                    <img src="/icon_imgs/room-type.PNG" alt="">
                    <p class="fw-normal pt-1">FACULTY ALLOCATION STATUS</p>
                </div>
            </div>
        </a>
    </div>

</div> 