</head>
<body>
<aside class="left-sidebar">

    <div class="left-sidebar-logo">
        <a href="/admin/dashboard"> <img src="/image/logo-nmims.png" class="nmims-logo"> </a>
    </div>

    <div class="left-sidebar-mini-logo">
        <a href="/admin/dashboard"> <img src="/icons/logo-nmims.png" class="ps-3 pe-2"></a>
    </div>

    <ul class="offset-list offcanvas-body sidebar-body" id="left-sidebar-accordion">
        
        <a href="/admin/dashboard" class="offset-list-item-link">
            <li><img src="/icons/dashboard.png" class="pe-2"> <span class="close-menu">Dashboard</span></li>
        </a>
               
        <div class="d-flex flex-column plus-button">
            <div class="d-flex justify-content-between align-items-center pe-4 custom_list getAcademicYear toggle-plus-minus"> 
                    <li><img src="/icons/courses.png" class="pe-2"><span class="close-menu">Primary Data</span></li>
                <a href="#" class="text-dark font-size-25  close-menu"><i class="fa-solid fa-plus"></i></a>
            </div>
            <div>
                <ul class="d-none sub-menu list-unstyled">
                    <li class="d-flex justify-content-center align-items-center sub-menu-list"> 
                        <i class="fa d-none right-arrow">&#xf054;</i>
                        <a href="/admin/academic_year" class="list-group-item custom-list-group-item list-group-item-action px-5" id="academic_year" >
                            Academic Year</a>
                    </li>
                    <li class="d-flex justify-content-center align-items-center sub-menu-list">
                        <i class="fa d-none right-arrow">&#xf054;</i>
                        <a href="/admin/student" class="list-group-item custom-list-group-item list-group-item-action px-5">
                            Students</a>
                    </li>
                    <li class="d-flex justify-content-center align-items-center sub-menu-list">
                        <i class="fa d-none right-arrow">&#xf054;</i>
                        <a href="/admin/acad_session" class="list-group-item custom-list-group-item list-group-item-action px-5">
                            Acad Sessions</a>
                    </li>
                    <li class="d-flex justify-content-center align-items-center sub-menu-list">
                        <i class="fa d-none right-arrow">&#xf054;</i>
                        <a href="#" class="list-group-item custom-list-group-item list-group-item-action px-5">
                            Initial Courseworkload</a>
                    </li>

                    <li class="d-flex justify-content-center align-items-center sub-menu-list">
                        <i class="fa d-none right-arrow">&#xf054;</i>
                        <a href="/admin/program" class="list-group-item custom-list-group-item list-group-item-action px-5">
                            Programs</a>
                    </li>

                    <li class="d-flex justify-content-center align-items-center sub-menu-list">
                        <i class="fa d-none right-arrow">&#xf054;</i>
                        <a href="#" class="list-group-item custom-list-group-item list-group-item-action px-5">
                            Areas</a>
                    </li>

                    <li class="d-flex justify-content-center align-items-center sub-menu-list">
                        <i class="fa d-none right-arrow">&#xf054;</i>
                        <a href="/admin/courseworkload" class="list-group-item custom-list-group-item list-group-item-action px-5">
                            Specialization</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="d-flex flex-column plus-button">
            <div class="d-flex justify-content-between align-items-center pe-4 custom_list toggle-plus-minus"> 
                <a href="javascript:void(0)"  class="offset-list-item-link">
                    <li><img src="/icons/secodary-data.png" class="pe-2"><span class="close-menu">Secondary Data</span></li>
                </a>
                <a href="#" class="text-dark font-size-25 close-menu"><i class="fa-solid fa-plus"></i></a>
            </div>
            <div>
                <ul class="d-none sub-menu list-unstyled">
                    <li class="d-flex justify-content-center align-items-center sub-menu-list"> 
                        <i class="fa d-none right-arrow">&#xf054;</i>
                        <a href="#" class="list-group-item custom-list-group-item list-group-item-action px-5">
                            Timetable</a>
                    </li>
                    <li class="d-flex justify-content-center align-items-center sub-menu-list">
                        <i class="fa d-none right-arrow">&#xf054;</i>
                        <a href="#" class="list-group-item custom-list-group-item list-group-item-action px-5">
                            Clashes</a>
                    </li>
                    <li class="d-flex justify-content-center align-items-center sub-menu-list">
                        <i class="fa d-none right-arrow">&#xf054;</i>
                        <a href="#" class="list-group-item custom-list-group-item list-group-item-action px-5">
                            Pre-Enrollments</a>
                    </li>
                    <li class="d-flex justify-content-center align-items-center sub-menu-list">
                        <i class="fa d-none right-arrow">&#xf054;</i>
                        <a href="#" class="list-group-item custom-list-group-item list-group-item-action px-5">
                            Pre-Requisites</a>
                    </li>
                    <li class="d-flex justify-content-center align-items-center sub-menu-list">
                        <i class="fa d-none right-arrow">&#xf054;</i>
                        <a href="#" class="list-group-item custom-list-group-item list-group-item-action px-5">
                            Completed Courses</a>
                    </li>
                    <li class="d-flex justify-content-center align-items-center sub-menu-list">
                        <i class="fa d-none right-arrow">&#xf054;</i>
                        <a href="#" class="list-group-item custom-list-group-item list-group-item-action px-5">
                            Concentration Settings</a>
                    </li>

                    <li class="d-flex justify-content-center align-items-center sub-menu-list">
                        <i class="fa d-none right-arrow">&#xf054;</i>
                        <a href="#" class="list-group-item custom-list-group-item list-group-item-action px-5">
                            Manual-Enrollments</a>
                    </li>

                </ul>
            </div>
        </div>

        <a href="#" class="offset-list-item-link">
            <li><img src="/icons/auctions.png" class="pe-2"><span class="close-menu"> Bidding Settings</span></li>
        </a> 

        <div class="d-flex flex-column plus-button">
            <div class="d-flex justify-content-between align-items-center pe-4 custom_list toggle-plus-minus"> 
			
                <a href="javascript:void(0)" class="offset-list-item-link">
                    <li><img src="/icons/cogwheel.png" class="pe-2"><span class="close-menu"> Round Settings</span></li>
                </a>
                <a href="#" class="text-dark font-size-25  close-menu"><i class="fa-solid fa-plus"></i></a>
            </div>
            <div>
                <ul class="d-none sub-menu list-unstyled">
                    <li class="d-flex justify-content-center align-items-center sub-menu-list"> 
                        <i class="fa d-none right-arrow">&#xf054;</i>
                        <a href="#" class="list-group-item custom-list-group-item list-group-item-action px-5">
                            View</a>
                    </li>
                    <li class="d-flex justify-content-center align-items-center sub-menu-list">
                        <i class="fa d-none right-arrow">&#xf054;</i>
                        <a href="#" class="list-group-item custom-list-group-item list-group-item-action px-5">
                            Add/Modify</a>
                    </li>
                </ul>
            </div>
        </div>

        <a href="#" class="offset-list-item-link">
            <li><img src="/icons/report.png" class="pe-2"><span class="close-menu"> Reports</span></li>
        </a> 

        <a href="#" class="offset-list-item-link">
            <li><img src="/icons/utility.png" class="pe-2"><span class="close-menu"> Utility</span></li>
        </a> 

        <a href="#" class="offset-list-item-link">
            <li><img src="/icons/logout1.png" class="pe-2"><span class="close-menu"> Logout</span></li>
        </a> 
        
    </ul>
    
</aside>  
<section id="sidebar" class="left-sidebar">
    <div class="header-container">
        <a href="/student/dashboard" class="logo-img">
            <img src="/image/logo-nmims.png" class="nmims-logo">
            <img src="/icons/logo.png" class="d-none nmims-logo-only">
        </a>
    </div>

    <div class="d-flex justify-content-center align-items-center">
        <div class="hr"></div>
    </div>
    
    <ul class="side-menu top mt-5">
        <li class="p-2 dashboard">
            <a href="/student/dashboard" target="_self" class="text-decoration-none">
                <img src="/image/admin/leftsidebar/dashboard.png" class="student-left-side-image">
                <span class="text text-dark side-bar-content ms-1">Dashboard</span>
            </a>
        </li>

        <li class="demand-estimation">
            <a href="/student/demand-estimation" class="text-decoration-none">
                <img src="/image/student/leftSideBar/demand-estimation.png" class="student-left-side-image">
                <span class="text text-dark side-bar-content">Primary Data</span>
            </a>
        </li>

        <li class="available-course">
            <a href="/student/available-course" class="text-decoration-none">
                <img src="/image/student/leftSideBar/available-course.png" class="student-left-side-image">
                <span class="text text-dark side-bar-content">Secondary Data</span>
            </a>
        </li>

        <li class="bidding">
            <a href="/student/bidding" class="text-decoration-none">
                <img src="/image/student/leftSideBar/bidding.png" class="student-left-side-image">
                <span class="text text-dark side-bar-content">Bidding Settings</span>
            </a>
        </li>

        <li class="confirmation">
            <a href="/student/confirmation" class="text-decoration-none">
                <img src="/image/student/leftSideBar/confirmation.jpg" class="student-left-side-image">
                <span class="text text-dark side-bar-content">Round Settings</span>
            </a>
        </li>

        <li class="waitlist-generation">
            <a href="#" class="text-decoration-none">
                <img src="/image/admin/leftsidebar/report.png" class="student-left-side-image">
                <span class="text text-dark side-bar-content">Reports</span>
            </a>
        </li>

        <li class="p-2 add-drop">
            <a href="#" class="text-decoration-none">
                <img src="/image/student/leftSideBar\add-drop.png" class="student-add-drop-image">
                <span class="text text-dark side-bar-content" >Utility</span>
            </a>
        </li>

    </ul>
</section> 