</head>
<body>
<aside class="left-sidebar">

    <div class="left-sidebar-logo">
        <a href="/admin/dashboard"> <img src="/image/logo-nmims.png" class="nmims-logo"> </a>
    </div>

    <div class="left-sidebar-mini-logo">
        <a href="/admin/dashboard"> <img src="/icons/logo-nmims.png" class="ps-3 pe-2"></a>
    </div>

    <ul class="offset-list offcanvas-body sidebar-body" id="left-sidebar-accordion">

        <a href="/admin/dashboard" class="offset-list-item-link">
            <li><img src="/icons/dashboard.png" class="ps-3 pe-2"> <span class="close-menu">Dashboard</span></li>
        </a>

        <a href="/admin/courseworkload" class="offset-list-item-link">
            <li><img src="/icons/courses.png" class="ps-3 pe-2"><span class="close-menu">Course Workload</span></li>
        </a>

        <a href="/admin/student" class="offset-list-item-link">
            <li><img src="/icons/students.png" class="ps-3 pe-2"><span class="close-menu">Students</span></li>
        </a>

        <a href="javascript:void(0)" class="offset-list-item-link">
            <li><img src="/icons/faculty.png" class="ps-3 pe-2"><span class="close-menu">Faculty</span></li>
        </a>

        <a href="#" class="offset-list-item-link">
            <li><img src="/icons/logout1.png" class="ps-3 pe-2"><span class="close-menu"> Logout</span></li>
        </a> 
        <!-- <div class="custom-element">This is a custom element</div> -->
    </ul>
    
</aside>