</head>
<body>
<aside class="left-sidebar">

    <div class="left-sidebar-logo">
        <a href="/admin/dashboard"> <img src="/image/logo-nmims.png" class="nmims-logo"> </a>
    </div>

    <div class="left-sidebar-mini-logo">
        <a href="/admin/dashboard"> <img src="/icons/logo-nmims.png" class="ps-3 pe-2"></a>
    </div>

    <ul class="offset-list offcanvas-body sidebar-body" id="left-sidebar-accordion">
        <div class="d-flex flex-column plus-button">
            <div class="d-flex justify-content-between align-items-center pe-4 custom_list">  
                <a href="/admin/dashboard" class="offset-list-item-link">
                    <li><img src="/icons/dashboard.png" class="ps-3 pe-2"> <span class="close-menu">Dashboard</span></li>
                </a>
                <a href="#" class="text-dark font-size-25 toggle-plus-minus"><i class="fa-solid fa-plus"></i></a>
            </div>
            <div>
                <ul class="d-none sub-menu list-unstyled">
                    <li class="d-flex justify-content-center align-items-center sub-menu-list">
                        <i class="fa d-none right-arrow">&#xf054;</i>
                         <a href="#" class="list-group-item custom-list-group-item list-group-item-action px-5">
                            Dashboard 1</a>
                    </li>
                    <li class="d-flex justify-content-center align-items-center sub-menu-list">
                        <i class="fa d-none right-arrow">&#xf054;</i>
                        <a href="#" class="list-group-item custom-list-group-item list-group-item-action px-5">
                            Dashboard 2</a>
                    </li>
                    <li class="d-flex justify-content-center align-items-center sub-menu-list">
                        <i class="fa d-none right-arrow">&#xf054;</i>
                        <a href="#" class="list-group-item custom-list-group-item list-group-item-action px-5">
                            Dashboard 3</a>
                    </li>
                </ul>
            </div>
        </div>    

        <div class="d-flex flex-column plus-button">
            <div class="d-flex justify-content-between align-items-center pe-4 custom_list"> 
                <a href="/admin/courseworkload" class="offset-list-item-link">
                    <li><img src="/icons/courses.png" class="ps-3 pe-2"><span class="close-menu">Course Workload</span></li>
                </a>
                <a href="#" class="text-dark font-size-25 toggle-plus-minus"><i class="fa-solid fa-plus"></i></a>
            </div>
            <div>
                <ul class="d-none sub-menu list-unstyled">
                    <li class="d-flex justify-content-center align-items-center sub-menu-list"> 
                        <i class="fa d-none right-arrow">&#xf054;</i>
                         <a href="#" class="list-group-item custom-list-group-item list-group-item-action px-5">
                            Course Workload 1</a>
                    </li>
                    <li class="d-flex justify-content-center align-items-center sub-menu-list">
                        <i class="fa d-none right-arrow">&#xf054;</i>
                        <a href="#" class="list-group-item custom-list-group-item list-group-item-action px-5">
                            Course Workload 2</a>
                    </li>
                    <li class="d-flex justify-content-center align-items-center sub-menu-list">
                        <i class="fa d-none right-arrow">&#xf054;</i>
                        <a href="#" class="list-group-item custom-list-group-item list-group-item-action px-5">
                            Course Workload 3</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="d-flex flex-column plus-button">
            <div class="d-flex justify-content-between align-items-center pe-4 custom_list">
                <a href="/admin/student" class="offset-list-item-link">
                    <li><img src="/icons/students.png" class="ps-3 pe-2"><span class="close-menu">Students</span></li>
                </a>
                <a href="#" class="text-dark font-size-25 toggle-plus-minus"><i class="fa-solid fa-plus"></i></a>
            </div>
            <div>
                <ul class="d-none sub-menu list-unstyled">
                    <li class="d-flex justify-content-center align-items-center sub-menu-list"> 
                        <i class="fa d-none right-arrow">&#xf054;</i>
                        <a href="#" class="list-group-item custom-list-group-item list-group-item-action px-5">
                            Student 1</a>
                    </li>
                    <li class="d-flex justify-content-center align-items-center sub-menu-list">
                        <i class="fa d-none right-arrow">&#xf054;</i>
                        <a href="#" class="list-group-item custom-list-group-item list-group-item-action px-5">
                            students 2</a>
                    </li>
                    <li class="d-flex justify-content-center align-items-center sub-menu-list">
                        <i class="fa d-none right-arrow">&#xf054;</i>
                        <a href="#" class="list-group-item custom-list-group-item list-group-item-action px-5">
                            Student 3</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="d-flex flex-column plus-button">
            <div class="d-flex justify-content-between align-items-center pe-4 custom_list">    
                <a href="javascript:void(0)" class="offset-list-item-link">
                    <li><img src="/icons/faculty.png" class="ps-3 pe-2"><span class="close-menu">Faculty</span></li>
                </a>
                <a href="#" class="text-dark font-size-25 toggle-plus-minus"><i class="fa-solid fa-plus"></i></a>
            </div>
            <div>
                <ul class="d-none sub-menu list-unstyled">
                    <li class="d-flex justify-content-center align-items-center sub-menu-list"> 
                        <i class="fa d-none right-arrow">&#xf054;</i>
                        <a href="#" class="list-group-item custom-list-group-item list-group-item-action px-5">
                            Faculty 1</a>
                    </li>
                    <li class="d-flex justify-content-center align-items-center sub-menu-list">
                        <i class="fa d-none right-arrow">&#xf054;</i>
                        <a href="#" class="list-group-item custom-list-group-item list-group-item-action px-5">
                            Faculty 2</a>
                    </li>
                    <li class="d-flex justify-content-center align-items-center sub-menu-list">
                        <i class="fa d-none right-arrow">&#xf054;</i>
                        <a href="#" class="list-group-item custom-list-group-item list-group-item-action px-5">
                            Faculty 3</a>
                    </li>
                </ul>
            </div>
        </div>

        <a href="#" class="offset-list-item-link">
            <li><img src="/icons/logout1.png" class="ps-3 pe-2"><span class="close-menu"> Logout</span></li>
        </a> 
        <!-- <div class="custom-element">This is a custom element</div> -->
    </ul>
    
</aside>