</head>
<body>
<aside class="left-sidebar">

    <div class="left-sidebar-logo">
       <a href="/admin/dashboard"> <img src="/image/logo-nmims.png" class="nmims-logo"> </a>
    </div>

   
    <h4 class="my-2 text-center" style="border-top: 2px solid #333; border-bottom:2px solid #333;"> Pending Events</h4>
    <div class="input-groups mx-auto pending-event-filter">
        <label for="programs-for-pending-event" class="d-flex justify-content-between">Select Program:</label>
        <select class="form-select my-2" id="programs-for-pending-event"></select>
    </div>
    <div class="input-groups mx-auto pending-event-filter">
        <label for="session-for-pending-event" class="d-flex justify-content-between">Select Session:</label>
        <select class="form-select my-2" id="session-for-pending-event"></select>
    </div>

    <div class="input-groups mx-auto pending-event-filter">
        <label for="module-for-pending-event" class="d-flex justify-content-between">Select Module:</label>
        <select class="form-select my-2" id="module-for-pending-event"></select>
    </div>
    
   
    

    <div class="list-group pending-event-container">
    
          
          
    </div>

</aside>

