</head>
<body>
 
<section id="sidebar" class="left-sidebar">
    <div class="header-container">
        <a href="/admin/dashboard" class="logo-img">
            <img src="/image/logo/logo-nmims.png" class="nmims-logo" alt="Nmims Logo">
            <img src="/image/logo/logo-nmims-small.png" class="d-none nmims-logo-small" alt="Nmims Logo">
        </a>
    </div>

    <div class="d-flex justify-content-center align-items-center">
        <div class="hr"></div>
    </div>
    
    <ul class="side-menu top mt-5">
        <li class="p-2 dashboard">
            <a href="/admin/dashboard" target="_self" class="text-decoration-none">
                <img src="/image/admin/leftsidebar/menu.png" class="student-left-side-image">
                <span class="text text-dark side-bar-content ms-1">Dashboard</span>
            </a>
        </li>

        <li class="master-data">
            <a href="/admin/master-data" class="text-decoration-none">
                <img src="/image/admin/leftsidebar/courses.png" class="student-left-side-image">
                <span class="text text-dark side-bar-content">Master Data</span>
            </a>
        </li>

        <li class="bidding-settings">
            <a href="/admin/bidding-settings" class="text-decoration-none">
                <img src="/image/admin/leftsidebar/auctions.png" class="student-left-side-image">
                <span class="text text-dark side-bar-content">Bidding Settings</span>
            </a>
        </li>
        
        <li class="timetable">
            <a href="/admin/timetable" class="text-decoration-none">
                <img src="/image/admin/leftsidebar/timetable.png" class="student-left-side-image" alt="generation timetable">
                <span class="text text-dark side-bar-content">Elective Timetable</span>
            </a>
        </li>
  
        <li class="manual">
            <a href="/admin/manual" class="text-decoration-none">
                <img src="/image/admin/leftsidebar/manual.png" class="student-left-side-image" alt="manual enrollments">
                <span class="text text-dark side-bar-content">Manual Enrollments</span>
            </a>
        </li>

        <li class="reports">
            <a href="/admin/reports" class="text-decoration-none">
                <img src="/image/admin/leftsidebar/report.png" class="student-left-side-image">
                <span class="text text-dark side-bar-content">Reports</span>
            </a>
        </li>

        <li class="p-2 utility">
            <a href="/admin/utility" class="text-decoration-none">
                <img src="/image/admin/leftsidebar/utility.png" class="student-left-side-image">
                <span class="text text-dark side-bar-content" >Utility</span>
            </a>
        </li>

    </ul>
</section> 