</head>
<body>
<aside class="left-sidebar">

    <div class="left-sidebar-logo">
       <a href="/admin/dashboard"> <img src="/image/logo-nmims.png" class="nmims-logo"> </a>
    </div>

    <ul class="offset-list offcanvas-body sidebar-body" id="left-sidebar-accordion">

        <a href="javascript:void(0)" class="offset-list-item-link">
            <li><img src="/icons/speedometer.png" class="ps-3 pe-2"> <span class="close-menu">Dashboard</span></li>
        </a>

        <a href="#" class="offset-list-item-link">
            <li>

                <div class="accordion-header" id="heading-one">
                    <button class="accordion-button collapsed custom-accordian-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
                        <img src="/icons/programs.png"> <span class="close-menu">Programs</span>
                    </button>
                </div>
                <div id="collapse-one" class="accordion-collapse collapse" aria-labelledby="heading-one"
                    data-bs-parent="#left-sidebar-accordion">
                    <div class="accordion-body ">

                        <a href="javascript:void(0)" class="list-group-item custom-list-group-item list-group-item-action "
                            aria-current="true">
                            Program List
                        </a>
                        <a href="javascript:void(0)" class="list-group-item custom-list-group-item list-group-item-action">
                            Program Types</a>
                        <a href="javascript:void(0)" class="list-group-item custom-list-group-item list-group-item-action">
                            Program Days</a>
                        <a href="javascript:void(0)" class="list-group-item custom-list-group-item list-group-item-action">
                            Program Sessions</a>
                    </div>
                </div>

            </li>
        </a>

        <a href="#" class="offset-list-item-link">
            <li>


                <div class="accordion-header" id="heading-two">

                    <button class="accordion-button collapsed custom-accordian-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-two" aria-expanded="true" aria-controls="collapse-two">
                        <img src="/icons/CourseWorkload.png"> <span class="close-menu">Course Workload</span>
                    </button>
                </div>
                <div id="collapse-two" class="accordion-collapse collapse" aria-labelledby="heading-two"
                    data-bs-parent="#left-sidebar-accordion">
                    <div class="accordion-body ">

                        <a href="javascript:void(0)" class="list-group-item custom-list-group-item list-group-item-action "
                            aria-current="true">
                            Fetch Course workload
                        </a>
                        <a href="javascript:void(0)" class="list-group-item custom-list-group-item list-group-item-action">Course Workload</a>
                        <a href="javascript:void(0)" class="list-group-item custom-list-group-item list-group-item-action">Course Preference</a>
                </div>
            </li>
        </a>

        <a href="#" class="offset-list-item-link">
            <li>
                <div class="accordion-header" id="heading-three">

                    <button class="accordion-button collapsed custom-accordian-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-three" aria-expanded="true" aria-controls="coll-three">
                        <img src="/icons/session.png"> <span class="close-menu">Session</span>
                    </button>
                </div>
                <div id="collapse-three" class="accordion-collapse collapse" aria-labelledby="heading-three"
                    data-bs-parent="#left-sidebar-accordion">
                    <div class="accordion-body ">
                        <a href="javascript:void(0)" class="list-group-item custom-list-group-item list-group-item-action" aria-current="true">Session</a>

                        <a href="javascript:void(0)" class="list-group-item custom-list-group-item list-group-item-action">Session type</a>
                        
                        <a href="javascript:void(0)" class="list-group-item custom-list-group-item list-group-item-action">Session Date</a>
                    </div>
                </div>
            </li>
        </a>

        <a href="#" class="offset-list-item-link">
            <li>
                <div class="accordion-header" id="heading-four">

                    <button class="accordion-button collapsed custom-accordian-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-four" aria-expanded="true" aria-controls="coll-four">
                        <img src="/icons/event.png"> <span class="close-menu">Event</span>
                    </button>
                </div>
                <div id="collapse-four" class="accordion-collapse collapse" aria-labelledby="heading-four"
                    data-bs-parent="#left-sidebar-accordion">
                    <div class="accordion-body ">
                        <a href="javascript:void(0)" class="list-group-item custom-list-group-item list-group-item-action" aria-current="true">Event</a>

                        <a href="javascript:void(0)" class="list-group-item custom-list-group-item list-group-item-action">Event type</a>
                        
                    </div>
                </div>
            </li>
        </a>

        <a href="#" class="offset-list-item-link">
            <li>
                <div class="accordion-header" id="heading-five">

                    <button class="accordion-button collapsed custom-accordian-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-five" aria-expanded="true" aria-controls="coll-five">
                        <img src="/icons/days.png"> <span class="close-menu">Days</span>
                    </button>
                </div>
                <div id="collapse-five" class="accordion-collapse collapse" aria-labelledby="heading-five"
                    data-bs-parent="#left-sidebar-accordion">
                    <div class="accordion-body ">
                        <a href="javascript:void(0)" class="list-group-item custom-list-group-item list-group-item-action" aria-current="true">Days</a>
                        
                    </div>
                </div>
            </li>
        </a>

        <a href="#" class="offset-list-item-link">
            <li>
                <div class="accordion-header" id="heading-six">

                    <button class="accordion-button collapsed custom-accordian-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-six" aria-expanded="true" aria-controls="coll-six">
                        <img src="/icons/holiday-upload.png"> <span class="close-menu">Holidays</span>
                    </button>
                </div>
                <div id="collapse-six" class="accordion-collapse collapse" aria-labelledby="heading-six"
                    data-bs-parent="#left-sidebar-accordion">
                    <div class="accordion-body ">
                        <a href="javascript:void(0)" class="list-group-item custom-list-group-item list-group-item-action" aria-current="true">Holiday List</a>
                        
                    </div>
                </div>
            </li>
        </a>
     
        <a href="#" class="offset-list-item-link">
            <li>
                <div class="accordion-header" id="heading-seven">

                    <button class="accordion-button collapsed custom-accordian-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-seven" aria-expanded="true" aria-controls="coll-seven">
                        <img src="/icons/rooms.png"> <span class="close-menu">Rooms</span>
                    </button>
                </div>
                <div id="collapse-seven" class="accordion-collapse collapse" aria-labelledby="heading-seven"
                    data-bs-parent="#left-sidebar-accordion">
                    <div class="accordion-body ">
                        <a href="javascript:void(0)" class="list-group-item custom-list-group-item list-group-item-action" aria-current="true">Room List</a>

                        <a href="javascript:void(0)" class="list-group-item custom-list-group-item list-group-item-action">Room Bookings</a>
                        
                    </div>
                </div>
            </li>
        </a>

        <a href="#" class="offset-list-item-link">
            <li>
                <div class="accordion-header" id="heading-eight">

                    <button class="accordion-button collapsed custom-accordian-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-eight" aria-expanded="true" aria-controls="coll-eight">
                        <img src="/icons/division.png"> <span class="close-menu">Division & Batches</span>
                    </button>
                </div>
                <div id="collapse-eight" class="accordion-collapse collapse" aria-labelledby="heading-eight"
                    data-bs-parent="#left-sidebar-accordion">
                    <div class="accordion-body ">
                        <a href="javascript:void(0)" class="list-group-item custom-list-group-item list-group-item-action" aria-current="true">Division List</a>

                        <a href="javascript:void(0)" class="list-group-item custom-list-group-item list-group-item-action">Batch List</a>
                        
                    </div>
                </div>
            </li>
        </a>

        <a href="#" class="offset-list-item-link">
            <li>

                <div class="accordion-header" id="heading-nine">
                    <button class="accordion-button collapsed custom-accordian-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-nine" aria-expanded="true" aria-controls="collapse-nine">
                        <img src="/icons/faculty-load.png"> <span class="close-menu">Faculty</span>
                    </button>
                </div>
                <div id="collapse-nine" class="accordion-collapse collapse" aria-labelledby="heading-nine"
                    data-bs-parent="#left-sidebar-accordion">
                    <div class="accordion-body ">

                        <a href="javascript:void(0)" class="list-group-item custom-list-group-item list-group-item-action "
                            aria-current="true">
                            Import Faculty
                        </a>
                        <a href="javascript:void(0)" class="list-group-item custom-list-group-item list-group-item-action">
                            Faculty Date & Time</a>
                        <a href="javascript:void(0)" class="list-group-item custom-list-group-item list-group-item-action">
                            Faculty Works</a>
                        <a href="javascript:void(0)" class="list-group-item custom-list-group-item list-group-item-action">
                            Faculty Work Time Preference</a>
                        <a href="javascript:void(0)" class="list-group-item custom-list-group-item list-group-item-action">
                            Faculty Batch</a>
                    </div>
                </div>

            </li>
        </a>

        <a href="#" class="offset-list-item-link">
            <li>
                <div class="accordion-header" id="heading-ten">

                    <button class="accordion-button collapsed custom-accordian-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-ten" aria-expanded="true" aria-controls="coll-ten">
                        <img src="/icons/schooltime.png"><span class="close-menu"> School Timing</span>
                    </button>
                </div>
                <div id="collapse-ten" class="accordion-collapse collapse" aria-labelledby="heading-ten"
                    data-bs-parent="#left-sidebar-accordion">
                    <div class="accordion-body ">
                        <a href="javascript:void(0)" class="list-group-item custom-list-group-item list-group-item-action" aria-current="true">School Timing List</a>

                        <a href="javascript:void(0)" class="list-group-item custom-list-group-item list-group-item-action">School Timing Type</a>
                        
                    </div>
                </div>
            </li>
        </a>

        <a href="" class="offset-list-item-link">
            <li class="userprofile-container">
                <div class="accordion-header" id="headingFive">

                    <button class="accordion-button custom-accordian-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collFive">
                        <img src="/icons/user.png"> <span class="close-menu">User</span>
                    </button>
                </div>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                    data-bs-parent="#left-sidebar-accordion">
                    <div class="accordion-body ">

                        <a href="#" class="list-group-item custom-list-group-item list-group-item-action "
                            aria-current="true">
                            Settings
                        </a>
                        <a href="#" class="list-group-item custom-list-group-item list-group-item-action">
                            Manage account</a>


                    </div>
                </div>
            </li>
        </a>


        <a href="#" class="offset-list-item-link">
            <li><img src="/icons/logout.png" class="ps-3 pe-2"><span class="close-menu"> Logout</span></li>
        </a> 

    </ul>

</aside>