<!-- RIGHT SIDEBAR DROPPED SLOTS -->
<div id="manualDrawer" class="bg-danger d-flex align-items-center"><i
    class="fas fa-angle-double-left fa-2x"></i> <span class="ml-3">Automatically Dropped Slots </span></div>
<div class="manualSlots">
  <div class="manualSlotHead p-2 d-flex">
    <span class="closeManualSlots"><i class="far fa-times-circle fa-2x"></i></span>
    <h6 class="ml-auto">DROPPED PENDING SLOTS</h6>
  </div>
  <div class="manualSlotsBody">
    <ul class="list-unstyled p-0">

    </ul>
  </div>
</div>