<div class="notification-content">
    <div class="check-notification" >
     <img src="/icon_imgs/tick.png" alt="">
    </div>
    
      <h2 class="p-0 m-0">Success!</h2>
      <img src="/icon_imgs/close.png" alt="" class="notification-close" width="32px" >
    </div>