<h1>Registeration Form:</h1>
<form action="/user/register" method="POST">
<div>
    <label for="username">Username</label><br>
    <input
      type="text"
      name="username"
      placeholder="Enter username"
      
    />
  
</div><br>

  <div >
    <label for="password">Password</label><br>
    <input
      type="password"
      name="password"
      placeholder="Create Password"
      
    />
  </div><br>
  <div >
    <label for="fName">First Name:</label><br>
    <input
      type="text"
      name="fName"
      placeholder="Enter f_name"
     
    />
  </div><br>
  <div >
    <label for="lName">Last Name:</label><br>
    <input
      type="text"
      name="lName"
      placeholder="l_name"
     
    />
  </div><br>
  <div >
    <label for="empId">EmpID</label><br>
    <input
      type="text"
      name="empId"
      placeholder="empId"
    
    />
  </div><br>
  <div >
    <label for="email">Email</label><br>
    <input
      type="text"
      name="email"
      placeholder="email"
    
    />
  </div><br>
  <div >
    <label for="contact">Contact No.</label><br>
    <input
      type="text"
      name="contactNumber"
      placeholder="contact"
    
    />
  </div><br>
  <div >
    <label for="roleId">Role</label><br>
    <input
      type="text"
      name="role"
      placeholder="role"
    
    />
  </div><br>
  <button type="submit" class="btn btn-primary btn-block">
    Register
  </button>
</form>
<p >Have An Account? <a href="./login">Login</a></p>